.SearchBar input {
  border-radius: 20px;
  color: #858585;
  padding-left: 40px;
  margin-bottom: 30px;
  background-color: #000;
  border-color: #202020;
}

.SearchBar input::placeholder {
  color:#555555;
}

.SearchBar input:focus {
    background-color: #202020;
    border-color: #df8600;
    color: #858585;
    box-shadow: none;
  }
  
.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
}
  
.SearchIcon:hover {
  cursor: default;
  color: #858585;
}