.ProfileImage {
    object-fit: cover;
    height: 180px;
    width: 180px;
    margin: 4px;
  }

.JoinDate {
    color: #444444;
}
  
  @media screen and (max-width: 991px) {
    .ProfileImage {
      width: 195px;
      height: 195px;
    }
  }